.App {
  text-align: center;
}

.listado{
  margin:10px;
  border:1px solid black;
}

.listadoCompleto{
  display:flex;
  flex-direction: row;
  margin:40px;
}

.listadoCompleto >div{
  margin: 10px;
  border:1px solid black;
}
.listadoCompleto >div>div{
  margin: 10px;
  border:1px solid black;
}
body{
  display: flex;
  justify-content: center;
}