.App {
  text-align: center;
}

.listado{
  margin:10px;
  border:1px solid black;
  color:white;

}

.listadoCompleto{
 display: flex;
 flex-direction: row;
}

body{
  display: flex;
  justify-content: center;
  background-color:black;
}

.numpag{
  color:white;
}

.aa{
  color:white;
}

.info{
  color:white;
}

.informaicon{
  color:white;
}

.numpag2{
  background-color:blue;
  color:white;
}



.filtrado{
  color:white;
}