.App {
  text-align: center;
}



.listadoCompleto{
 display: flex;
 flex-direction: row;
}

body{
  background-image: url("https://rateyourmusic.com/release/ep/tu-madre-es-puta/no-es-un-disco-es-un-ep/buy/f");
  display: flex;
  justify-content: center;
  background-color:black;
}

.numpag{
  color:white;
}

.aa{
  color:white;
}

.info{
  color:white;
}

.informaicon{
  color:white;
}

.numpag2{
  background-color:blue;
  color:white;
}



.filtrado{
  color:white;
}



.listadoNuevo{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
.listado{
  
  margin:10px;
  border:1px solid black;
  color:white;
  flex: 1 0 21% 

}

.img{
  border-radius:5px;
}